body {
  background: #000;
  color: #FFFFFF;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  background: #d8e4e9;
  color: #000000;
  max-width: 100%;
  border-radius: 2rem;
  padding: 1rem;
  border: 1px solid #000;
}

.card {
  border-bottom: 1px solid black;
}